

    <!-- Page Wrapper -->
      <div id="page-wrapper">

        <!-- Header -->
          <header id="header">
            <h1><a href="/index.html">Pluggable Transports</a></h1>
            <nav id="nav">
              <ul>
                <li class="special">
                  <a href="#menu" class="menuToggle"><span>Menu</span></a>
                  <div id="menu">
                    <ul>
                      <li><a href="/index.html">Home</a></li>
                      <li><a href="/blog.html">Updates</a>
                          <ul>
                           {% for post in site.posts limit:3 %}
                               <li><a href="{{ post.url }}">{{ post.title }} ({{ post.date  | date: '%B'}})</a></li>
                           {% endfor %}
                               <li><a href="/blog">(more entries)</a></li>
                          </ul>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </nav>
          </header>

