<!-- Sidebar -->
<div class="sidebar">
<span class="nav__sub-title">Tags</span>
{% comment %} Source: http://stackoverflow.com/questions/49547414/ddg#49549166 {% endcomment %}
{% comment %} Creates an empty array {% endcomment %}
{% assign tags = "" | split:"" %}

{% comment %}Creates an array of tags names{% endcomment %}
{% for t in site.tags %}
  {% assign tags = tags | push: t[0] %}
{% endfor %}

{% assign sorted_tags = tags | sort_natural %}

{% for tag in sorted_tags %}
 <span class="site-tag">
    <a href="/tag/#{{ tag | first | slugify }}"
        style="font-size: {{ tag | last | size  |  times: 4 | plus: 80  }}%">
            {{ tag[0] | replace:'-', ' ' }} ({{ tag | last | size }})
    </a>,
</span>
{% endfor %}


{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%B %Y" %}
  {% if currentdate != date %}
  <span class="nav__sub-title">Archives by Date</span>
    {% unless forloop.first %}</ul>{% endunless %}
    <h6 id="y{{post.date | date: "%B %Y"}}">{{ currentdate }}</h6>
    <ul>
    {% assign date = currentdate %}
  {% endif %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% if forloop.last %}</ul>{% endif %}
{% endfor %}

<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

<hr />
 
{% if page.author_profile or layout.author_profile or page.sidebar %}
  
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if page.sidebar %}
    {% for s in page.sidebar %}
      {% if s.image %}
        <img src=
        {% if s.image contains "://" %}
          "{{ s.image }}"
        {% else %}
          "{{ s.image | absolute_url }}"
        {% endif %}
        alt="{% if s.image_alt %}{{ s.image_alt }}{% endif %}">
      {% endif %}
      {% if s.title %}<h3>{{ s.title }}</h3>{% endif %}
      {% if s.text %}{{ s.text | markdownify }}{% endif %}
    {% endfor %}
    {% if page.sidebar.nav %}
      {% include nav_list nav=page.sidebar.nav %}
    {% endif %}
  {% endif %}
{% endif %}

</div>
